@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

.info-text {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
body::-webkit-scrollbar{
    display: none;
}
body {
    --bg1:#f0f0f0;
    --bg2:red;
    --bg3:red;
    background-color: var(--bg1);
    color: #222;
}

table {
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 0;
    color: #222;
    border-collapse: collapse;
}

table tr {
    border: 1px solid #f0f0f0;
}

table th {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

td {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.lokasyon {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

@media only screen and (max-width: 750px),
(min-device-width: 750px) {
    table {
        text-align: center;
        width: 100%;
        height: auto;
        background-color: #fff;
        border: 0;
        color: #222;
        border-collapse: collapse;
    }

    table tr {
        border: 1px solid gray;
    }

    table th {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    td {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
}

@media only screen and (max-width: 550px),
(min-device-width: 550px) and (max-device-width: 750px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    table {
        text-align: start;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #f0f0f0;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
        padding-left: 50%;
    }

    th {
        display: none;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        opacity: 80%;
        font-size: 20px;
    }

    tr:nth-of-type(even) {
        background-color: #f0f0f0;
    }

    td:nth-of-type(1):before {
        content: "Tarih";
    }

    td:nth-of-type(2):before {
        content: "Yer";
    }

    td:nth-of-type(3):before {
        content: "Şiddet";
    }
}

@media only screen and (max-width: 450px),
(min-device-width: 450px) and (max-device-width: 550px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    table {
        text-align: start;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #f0f0f0;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
        padding-left: 50%;
    }

    th {
        display: none;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        opacity: 80%;
        font-size: 20px;
    }

    tr:nth-of-type(even) {
        background-color: #f0f0f0;
    }

    td:nth-of-type(1):before {
        content: "Tarih";
    }

    td:nth-of-type(2):before {
        content: "Yer";
    }

    td:nth-of-type(3):before {
        content: "Enlem";
    }

    td:nth-of-type(4):before {
        content: "Boylam";
    }

    td:nth-of-type(5):before {
        content: "Şiddet";
    }

    td:nth-of-type(6):before {
        content: "Derinlik";
    }
}

@media only screen and (max-width: 320px),
(min-device-width: 320px) and (max-device-width: 450px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    table {
        text-align: start;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #f0f0f0;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
        padding-left: 50%;
    }

    th {
        display: none;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        opacity: 80%;
        width: 45%;
        font-size: 20px;
        padding-right: 10px;
        white-space: nowrap;
    }

    tr:nth-of-type(even) {
        background-color: #f0f0f0;
    }

    td:nth-of-type(1):before {
        content: "Tarih";
    }

    td:nth-of-type(2):before {
        content: "Yer";
    }

    td:nth-of-type(3):before {
        content: "Enlem";
    }

    td:nth-of-type(4):before {
        content: "Boylam";
    }

    td:nth-of-type(5):before {
        content: "Şiddet";
    }

    td:nth-of-type(6):before {
        content: "Derinlik";
    }
}